name: CI / Quality & Tests

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Check Formatting with Black
        run: |
          black --check --diff pywhooshconnect/ tests/

      - name: Lint with Pylint (fail on errors only)
        if: success() || failure()
        shell: bash
        run: |
          pylint $(git ls-files '*.py') --disable=all --enable=F,E --output-format=colorized

      - name: Run Pytest Tests
        if: success() || failure()
        run: |
          pytest tests/
